<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Date Time Picker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
</head>

<body ng-app="demoApp">
    <div ng-controller="MainCtrl as main">
        <mw-charts style="width: 650px;height:400px;left: 30px;" ng-model="main.option">
        </mw-charts>
        <button ng-click="change()">切换</button>
    </div>
    <script type="text/javascript" src="./angular"></script>
    <script type="text/javascript" src="./echarts"></script>
    <script src="./app/angular-echarts3.js"></script>
    <script src="./app/app.js"></script>
</body>

</html>
